.SectionContainer {
  width: 100%;

  .sectionContent {
    display: flex;
    padding: 20px;
    background-color: #51d6a9;
  }
}

.SectionContainer + .SectionContainer {
  margin-top: 10px;
}


.ColumnContainer {
  flex: 1;

  .columnContent {
    background: antiquewhite;
    padding: 10px;
  }
}
